<section id="recipes" class="container">
    {{#each recipe}}
        <div class="recipe">
        <a href="/recipes/{{dataValues.recipe_id}}"><h3>{{dataValues.title}}</h3></a>
        <p>Rating: {{dataValues.rating}}</p>
        <p>Description: {{dataValues.description}}</p>
        <p>Categories: {{dataValues.categories}}</p>
        <p>Ingredients: {{dataValues.ingredients}}</p>
        <p>Steps: {{dataValues.steps}}</p>
        <p>Calories: {{dataValues.calories}}</p>
        <p>Fat: {{dataValues.fat}}</p>
        <p>Protein: {{dataValues.protein}}</p>
        <p>Sodium: {{dataValues.sodium}}</p>
        </div>
    {{else}}
    <p>no recipes matched</p>
    {{/each}}
</section>