<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Comic Neue' rel='stylesheet'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <style>
        * {
            font-family: 'Comic Neue'; 
        }
        #header {
            background: #F0929D;
            border-bottom: 0.05em solid black;
        }
        #headerText {
            font-weight: bolder;
        }
        #profile {
            text-align: right;
            vertical-align: middle;
            margin: auto;
        }
        #filtering {
            background: #82E2E7;
        } 
        #results {
            background: #F7E9D0
        }
        #page {
            height: 100vh;
        }
        #ingredientsText {
            font-weight: bold;
        }
        #inputtedIngredients {
            margin-top: 1.5em;
            margin-bottom: 2em;
        }
        #recipeFiltering {
            font-weight: bolder;
            margin-top: 2em;
        }
        #example {
            font-size: 0.9em;
        }
        #inputtedRestrictions {
            margin-bottom: 2em;
        }
        #restrictionsText {
            font-weight: bolder;
        }
        #inputtedCategory {
            margin-bottom: 2em;
        }
        #categoryText {
            font-weight: bolder;
        }
        #recipeDifficultyText {
            font-weight: bolder;
        }
        #findRecipes {
            margin-top: 3em;
            text-align: center;
        }
        .pink {
            background: #F0929D;
        }
        .pink:hover {
            color: white;
        }
        .recipe {
            border: 0.1em solid black;
            border-radius: 1em;
            padding: 0.5em;
            margin: 1em;
        }
        .recipe:hover {
            border: 0.1em solid #F0929D;
            cursor: pointer;
        }
        #recipeHeader {
            text-align: center;
            font-weight: bolder;
        }
        #noResults {
            text-align: center;
            font-weight: bold;
        }
        #makeBold{
            font-weight: bolder;
        }
        #topLinks {
            text-decoration: none;
        }
        #links {
            margin: auto;
            text-align: right;
        }
        .blue {
            background: #82E2E7;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <p id="hiddenEmail" hidden>{{email}}</p>
        <div class="row" id="header">
            <div class="col-8">
                <h2 id="headerText">No-Scraps</h2>
            </div>
            <div class="col-4" id="links">
                <button type="button" class="btn btn-secondary" onclick="window.location.replace('/addRecipe');">Add Recipe</button>
                <button type="button" class="btn btn-secondary" onclick="getFavourites()">Favourites</button>
                <button type="button" class="btn btn-secondary" onclick="logout()">Logout</button>
            </div>
        </div>
        <div class="row" id="page">
            <div class="col-3" id="filtering">
                <h2 id="recipeFiltering">Apply Recipe Filtering</h2>
                <div class="row" id="inputtedIngredients">
                    <div class="col-4">
                        <p id="ingredientsText">Ingredients</p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="ingredients" placeholder="Enter ingredients">
                        <p id="example">Ex. apples,bananas</p>
                    </div>
                </div>
                <div class="row" id="inputtedRestrictions">
                    <div class="col-4">
                        <p id="restrictionsText">Allergies &amp; Restrictions</p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="restrictions" placeholder="Enter allergies/restrictions">
                        <p id="example">Ex. peanuts,milk</p>
                    </div>
                </div>
                <div class="row" id="inputtedCategory">
                    <div class="col-4">
                        <p id="categoryText">Category</p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="categories" placeholder="Enter category">
                        <p id="example">Ex. Halal,Vegan</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p id="recipeDifficultyText">Difficulty</p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="difficulty" placeholder="Enter difficulty">
                        <p id="example">Either beginner, intermediate, advanced</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="findRecipes">
                        <button type="button" class="btn pink btn-lg" onclick="getRecipes()">Find Recipes!</button>
                    </div>
                </div>
            </div>
            <div class="col-9" id="results">
                <section id="recipes" class="container">
                    <h1 id="recipeHeader">Recipes</h1>

                    {{#each recipes}}
                    <div class="recipe">
                        <div class="row">
                            <div class="col-10">
                                <h3 onclick="goToRecipe({{dataValues.recipe_id}})">{{dataValues.title}}</h3>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn pink btn-sm" onclick="favouriteRecipe({{dataValues.recipe_id}})">Favourite</button>
                            </div>
                        </div>
                        <p id="makeBold">Rating: {{dataValues.rating}}/5</p>
                        <p id="makeBold"></p>Ingredients:</p>
                        <ul>
                            {{#each dataValues.ingredients}}
                                <li>{{ this }}</li>
                            {{/each}}
                        </ul>  
                        <p id="makeBold">Categories: {{dataValues.categories}}</p>
                    </div>
                    {{else}}
                        <p id="noResults">No recipes match query. Please try another query.</p>
                    {{/each}}
                </section>
            </div>
        </div>
    </div>
    <script>
        function getRecipes() {
            if(!Cookies.get('email')){
                let userEmail = document.getElementById('hiddenEmail').innerHTML;
                Cookies.set('email', userEmail);
            } else{
                document.getElementById('hiddenEmail').innerHTML = Cookies.get('email');
            }
            let ingredients = document.getElementById('ingredients').value;
            let restrictions = document.getElementById('restrictions').value;
            let categories = document.getElementById('categories').value;
            let difficulty = document.getElementById('difficulty').value.toLowerCase();
            window.location.replace('/recipes?ingredients=' + ingredients + '&restrictions=' + restrictions + '&categories=' + categories + '&difficulty=' + difficulty);
        }
        function goToRecipe(recipe_id){
            window.location.replace('/recipes/' + recipe_id);
        }
        function favouriteRecipe(recipe_id) {
            let email = "";
            if(!Cookies.get('email')){
                let userEmail = document.getElementById('hiddenEmail').innerHTML;
                email = Cookies.set('email', userEmail);
            } else{
                email = document.getElementById('hiddenEmail').innerHTML = Cookies.get('email');
            }
            axios.post('/users/' + email + '/favourites', {
                recipe_id: recipe_id
            })
                .then(resp => {
                    console.log(resp);
                })
                .catch(err => {
                    console.log(err);
                });
        }
        function getFavourites() {
            let email = "";
            if(!Cookies.get('email')){
                console.log('hisjisjh');
                let userEmail = document.getElementById('hiddenEmail').innerHTML;
                email = Cookies.set('email', userEmail);
            } else{
                email = document.getElementById('hiddenEmail').innerHTML = Cookies.get('email');
                console.log('sss');
            }
            console.log(email);
            window.location.replace('/users/' + email + '/favourites');
        }
        function logout() {
            Cookies.remove('email');
            window.location.replace('/login');
        }
    </script>
</body>
</html>