<section>
    <h1 id ="header">Recipes: (click to view more details of any recipe)</h1>

    {{#each recipes}}
        <div class="recipe" id = "results" background = "#82E2E7">
        <a href="/recipes/{{dataValues.recipe_id}}"><h3>{{dataValues.title}}</h3></a>
        <p>Rating: {{dataValues.rating}}</p>
        <p>Ingredients: {{dataValues.ingredients}}</p>
        <p>Categories: {{dataValues.categories}}</p>
        </div>
    {{else}}
    <p>no recipes matched</p>
    {{/each}}
</section>

</html>